
@font-face {
    font-family: 'Outward';
    src: url('outward-master/fonts/webfonts/outward-block-webfont.eot');
    src: url('outward-master/fonts/webfonts/outward-block-webfont.eot?#iefix') format('embedded-opentype'),
         url('outward-master/fonts/webfonts/outward-block-webfont.woff2') format('woff2'),
         url('outward-master/fonts/webfonts/outward-block-webfont.woff') format('woff'),
         url('outward-master/fonts/webfonts/outward-block-webfont.ttf') format('truetype'),
         url('outward-master/fonts/webfonts/outward-block-webfont.svg#outwardblock') format('svg');
    font-weight: normal;
    font-style: normal;
}



section {
    display: flex;
    justify-content: space-between;
}


h1 {
    position: relative;
    text-align: center;
    font-family: 'Outward', sans-serif;
    font-style: italic;   
    font-weight: normal;
    font-size: 15em;
    color: cornsilk;
    z-index: 1000;
    opacity: 1;      
}

#earth {
   position: relative;
   display:inline-block;
   float:left;
   font-family: 'Play', sans-serif;
   z-index: 1000;
   color: cornsilk;
}

#moon {
    position: relative;
    display:inline-block;
    float: right;
    text-align: end;
    font-family: 'Play', sans-serif;
    z-index: 1000;
    color: cornsilk;
}


body {
    position: relative;
    /* background-image: url("full_moon_black.jpg"); */
    animation-name: changingImage, changingBackground;
    animation-duration: 59s;
    animation-iteration-count: infinite;
    /* background-color: black; */
    background-repeat: no-repeat;
    margin: 0;
}

#degrade
{
    position: relative;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    margin: 0;
    padding: 0;
    z-index: 1;
} 


#degrade:before {
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, rgb(245, 241, 241), transparent);
    transform: translate(-50%, -50%);
    transition: width 0.5s ease, height 0.5s ease;
    z-index: 1;
  }
  
  #degrade:hover:before {
    --size: 1000px;
      }

  button {
      color: white;
      border: 1px solid black;
      background-color: transparent;
                
  }

  p {
      font-style: italic;
  }

  /* *{
    animation-name: changingImage;
    animation-duration: 59s;
    animation-iteration-count: infinite;
    } */
    
@keyframes changingImage{
    
    from{ background-image: url("full_moon_black.jpg");}

    50% { background-image: url("full_moon_white.jpg");}
  
    to { background-image: url("full_moon_black.jpg");}
      
     
}

@keyframes changingBackground {
    from{ background-color: black;}

    50% { background-color: white;}

    to { background-color: black;}
}


  